.alertNotify {
  width: 30rem;
  position: fixed;
  top: 1rem;
  right: -30rem;
  z-index: 1030;
}
.allertNotifyButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: currentColor;
  fill: currentColor;
}

.allertNotifyReadMore {
  cursor: pointer;
}

.allertNotifyReadMore:hover {
  font-weight: bolder;
}
